* {
  font-family: "Inter";
  font-weight: 500;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  vertical-align: baseline;
  transition: 0.3s ease-in;
}

body {
  width: 100vw;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

header {
  width: 85%;
  margin: auto;
  margin-bottom: 0.5em;
  padding: 3.5em 0em 2em 0em;
}

nav {
  display: flex;
  justify-content: space-between;
}
nav ul {
  display: flex;
  gap: 2em;
  list-style-type: none;
  align-items: center;
}
nav ul li a {
  color: hsl(236deg, 13%, 42%);
  font-size: 1.1em;
}

.mobilie-menu {
  display: none;
  cursor: pointer;
}
.mobilie-menu div {
  width: 2.5em;
  height: 0.25em;
  background-color: black;
  margin: 0.5rem;
}

main {
  width: 85%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "item-1 item-1 item-2" "item-3 item-3 item-3";
  gap: 2rem;
}

.title-container {
  grid-area: item-1;
}
.title-container img {
  width: 100%;
  margin-bottom: 1.4em;
}

.title-content {
  display: flex;
  justify-content: space-between;
}
.title-content h1 {
  font-size: 3.3em;
  font-weight: 800;
  width: 45%;
}
.title-content div {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}
.title-content div p {
  color: hsl(236deg, 13%, 42%);
  line-height: 1.6em;
  font-size: 1.1em;
}
.title-content div a {
  display: block;
  background-color: hsl(5deg, 85%, 63%);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.2em;
  width: max-content;
  color: white;
  padding: 1em 2em;
  font-weight: 700;
}

.news {
  grid-area: item-2;
  background-color: hsl(240deg, 100%, 5%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2em;
}
.news h2 {
  color: hsl(35deg, 77%, 62%);
  font-size: 2.5em;
  font-weight: 700;
  margin-bottom: 0.5em;
}
.news div a {
  display: block;
  color: hsl(36deg, 100%, 99%);
  font-weight: 700;
  font-size: 1.3em;
  margin-top: 0.5em;
  margin-bottom: 0.8em;
}
.news div p {
  color: hsl(236deg, 13%, 42%);
  margin-bottom: 0.5em;
  font-size: 1.1em;
}
.news hr {
  border: 1px solid hsl(236deg, 13%, 42%);
  margin-top: 1em;
}

.bottom-section {
  grid-area: item-3;
  margin-top: 2em;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.bottom-section div {
  display: flex;
  width: 32%;
  gap: 1em;
  height: 8.5em;
}
.bottom-section div img {
  height: 100%;
}
.bottom-section div div {
  display: flex;
  width: auto;
  flex-direction: column;
  justify-content: space-between;
}
.bottom-section div div h3 {
  font-size: 1.8em;
  font-weight: 700;
  color: hsl(233deg, 8%, 79%);
}
.bottom-section div div a {
  display: block;
  font-size: 1.2em;
  font-weight: 700;
  color: hsl(240deg, 100%, 5%);
}
.bottom-section div div p {
  color: hsl(236deg, 13%, 42%);
  line-height: 1.5em;
  font-size: 0.95em;
  margin-bottom: 1em;
}

.attribution {
  margin-top: 2em;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}

@media (min-width: 720px) {
  nav a:hover {
    color: hsl(35deg, 77%, 62%);
  }
  .title-content div a:hover {
    background-color: hsl(240deg, 100%, 5%);
  }
  .news div a:hover {
    color: hsl(35deg, 77%, 62%);
  }
  .bottom-section div div a:hover {
    color: hsl(5deg, 85%, 63%);
  }
}
@media (max-width: 1285px) {
  .bottom-section {
    flex-wrap: wrap;
    gap: 2em;
  }
  .bottom-section div {
    width: 45%;
  }
}
@media (max-width: 1024px) {
  header {
    width: 75%;
  }
  main {
    width: 75%;
    grid-template-areas: "item-1 item-1 item-1" "item-2 item-2 item-2" "item-3 item-3 item-3";
    gap: 2rem;
  }
  .bottom-section div {
    width: 100%;
  }
}
@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  nav ul {
    position: absolute;
    top: 15vh;
    right: 0;
    width: 60vw;
    height: 100vh;
    background-color: white;
    flex-direction: column;
    align-items: flex-start;
    padding: 5em 0em 0em 2em;
    transform: translateX(100%);
  }
  nav.active ul {
    transform: translateX(0%);
  }
  .mobilie-menu {
    display: block;
  }
  .title-content {
    flex-direction: column;
    gap: 1.5em;
  }
  .title-content h1 {
    width: 100%;
  }
  .title-content div {
    width: 100%;
    gap: 1.5em;
  }
}
@media (max-width: 420px) {
  header {
    width: 95%;
  }
  main {
    width: 95%;
  }
}

/*# sourceMappingURL=style.css.map */
